@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@source "../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #f0f4fa;
    --color-primary-100: #d9e1f2;
    --color-primary-200: #b3c5e5;
    --color-primary-300: #8ca8d8;
    --color-primary-400: #668bca;
    --color-primary-500: #3f6ebd; /* base */
    --color-primary-600: #355b9c;
    --color-primary-700: #2b487b;
    --color-primary-800: #22365a;
    --color-primary-900: #132b4c;

    --color-secondary-50: #f9f5f4;
    --color-secondary-100: #f1e6e5;
    --color-secondary-200: #dfc7c3;
    --color-secondary-300: #c7a79f;
    --color-secondary-400: #af877b;
    --color-secondary-500: #976757; /* base */
    --color-secondary-600: #7e5748;
    --color-secondary-700: #664239;
    --color-secondary-800: #4f312a;
    --color-secondary-900: #3f261f;
}

body {
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
}

@base {
    .border-border {
        @apply border border-gray-300;
    }
}
